<!-- アーカイブのリスト -->
{% extends "base.html" %}
{% block title %}Archive — {{ SITENAME }}{% endblock %}

<!-- ページごとのh1の内容 -->
{% block content_h1 %}
<h1>Archives for {{ SITENAME }}</h1>
{% endblock content_h1 %}

{% block content %}
<main role="main">
	<div class="main-contents">
		<div class="article-list">
		{% if dates %}
		{% for year, date_year in dates|groupby('date.year')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
			{% for month, articles in date_year|groupby('date.month')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
			<article>
				<h3><a href="/{{ year }}/{{ '%02d' % month }}/">{{ year }}年{{ month }}月</a>({{ articles|count }})</h3>
			</article>
			{% endfor %}
		{% endfor %}
		{% endif %}
		</div>
	</div>
</main>
{% endblock %}
