<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/custom/style.css"/>
	{% if FEED_ALL_ATOM %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
	{% endif %}
	{% if FEED_ALL_RSS %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}
  </head>
  <body>
    <div class="wrapper">
		<header class="site-main">
			<div class="header-image-main">
				<img alt="サイトのメインテーマ画像" src="{{SITEURL}}/{{THEME_STATIC_DIR}}/img/study_002.png"/>
			</div>
			{% block content_h1 %}<!-- h1 -->{% endblock content_h1 %}
		</header>
		<div class="main-part">
			{% block content %}
			<!-- role=main -->
			<!-- end role=main -->
			{% endblock content %}
			<aside>
				<div class="side-menu">
					<section>
						<p>Categories</p>
                        {% if categories %}
						<ul>
        				{% for cat, articles in categories %}
		            		<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>({{articles|count}})</li>
        				{% endfor %}
						</ul>
						{% endif %}
					</section>
					<section>
						<p>Tags</p>
						{% if tags %}
						<ul>
                		{% for tag, articles in tags|sort %}
                    		<li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
                 		{% endfor %}
						</ul>
						{% endif %}
					</section>
					<section>
						<p>Archives</p>
						{% if all_articles|count %}
						<ul>
							{% for year, date_year in all_articles|groupby('date.year')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
							　　{% for month, articles in date_year|groupby('date.month')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
							　　　　<li><a href="/{{ year }}/{{ '%02d' % month }}/">{{ year }}年{{ month }}月</a>({{ articles|count }})</li>
							　　{% endfor %}
							{% endfor %}
						</ul>
						{% elif articles %}
						<ul>
						{% for year, date_year in articles|groupby('date.year')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
						　　{% for month, articles in date_year|groupby('date.month')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
							　　　　<li><a href="/{{ year }}/{{ '%02d' % month }}/">{{ year }}年{{ month }}月</a>({{ articles|count }})</li>
						　　{% endfor %}
						{% endfor %}
						</ul>
						{% endif %}
					</section>
					<section>
						<p>このブログ、なんぞね？</p>
						<ul>
							<li><a href="{{ SITEURL }}/pages/about.html">About.</a></li>
						</ul>
					</section>
				</div>
			</aside>
		</div>
		<footer class="site-footer">
			<span><a href="{{ SITETOP }}">{{SITENAME}}</a></span>
			<span>copyrights</span>
			<span>powered by Pelican.</span>
		</footer>
    </div>
  </body>
</html>
