{% extends "base.html" %}

<!-- ページごとのh1の内容 -->
{% block content_h1 %}
<h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
{% if SITESUBTITLE %}<p>{{ SITESUBTITLE }}<p/>{% endif %}
{% endblock content_h1 %}

{% block content %}
<main role="main">
	<div class="main-contents">
		<h2>直近の記事</h2>
		<div class="article-list">
			{% if articles %}
			<!-- 最新記事5件 -->
            {% for article in articles_page.object_list[:5] %}
			<article>
				<h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
				<p>{{ article.summary }}<a class="readmore" href="{{ SITEURL }}/{{ article.url }}">more...</a></p>
			</article>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</main>
{% endblock content %}
