{% extends "base.html" %}
{% block title %}{{ page.title|striptags }}{% endblock %}

<!-- ページごとのh1の内容 -->
{% block content_h1 %}
<h1>{{page.title|striptags}}</h1>
{% endblock content_h1 %}

{% block content %}
<main role="main">
	<div class="main-contents">
		<article class="main-content">
			<header>
				<ul class="horizontal-list-over767">
					<li>Published: {{page.date}}</li>
					{% if page.modified %}<li>Updated: {{page.date}}</li>{% endif %}
				</ul>
			</header>
			<section>
				{{page.content}}
			</section>
		</article>
	</div>
</main>
{% endblock %}
