<!-- タグのリスト -->
{% extends "base.html" %}
{% block title %}Tag — {{ SITENAME }}{% endblock %}

<!-- ページごとのh1の内容 -->
{% block content_h1 %}
<h1>Tag for {{ SITENAME }}</h1>
{% endblock content_h1 %}

{% block content %}
<main role="main">
	<div class="main-contents">
		<div class="article-list">
        	{% for tag, articles in tags|sort %}
			<article>
				<h3><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</h3>
			</article>
        	{% endfor %}
		</div>
	</div>
</main>
{% endblock %}
